@use '../../abstracts/colors' as c;
@use '../../abstracts/typography' as t;

.c-display {
  font-size: t.$fs-display--500;
  font-family: 'Oswald';
  line-height: t.$lh-display--500;

  &--clr_white {
    color: c.$white;
  }

  &--clr_primary_500 {
    color: c.$primary--500;
  }

  &--no-margin {
    margin: 0;
  }
}
