.c-button {
  background-color: var(--cyan);

  border: none;
  border-radius: 999px;
  padding: 0.8em 1em;

  &--padding_small {
    padding: 0.5em 0.7em;
  }

  &__link {
    font-weight: 700;
    color: var(--blue-indigo);
    text-decoration: none;
  }
}
