.c-info {
  &--center {
    text-align: center;
  }
}

.c-info__title {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 900;
  font-size: var(--medium);

  &--color_white {
    color: white;
  }
  &--color_purple {
    color: #87629a;
  }
  &--color_blue-shark {
    color: #136c72;
  }

  &--size_big {
    font-size: var(--big);
  }
  &--size_medium {
    font-size: var(--medium);
  }
  &--size_small {
    font-size: var(--small);
  }
}

.c-info__text {
  font-size: var(--small);

  &--color_white {
    color: white;
  }
}
