.c-info {
  &--center {
    text-align: center;
  }
}

.c-info__title {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 900;
  font-size: var(--font_medium);

  &--color_white {
    color: white;
  }
  &--color_purple {
    color: var(--purple);
  }
  &--color_blue-shark {
    color: var(--blue-shark);
  }

  &--size_big {
    font-size: var(--font_big);
  }
  &--size_medium {
    font-size: var(--font_medium);
  }
  &--size_small {
    font-size: var(--font_small);
  }
}

.c-info__text {
  font-size: var(--font_small);

  &--color_white {
    color: white;
  }
}
