.l-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  &__fill {
    grid-column: 1 / -1;
  }

  &__padding {
    padding: min(30px, 3vw);
  }

  &__padding-rl {
    padding-right: min(30px, 3vw);
    padding-left: min(30px, 3vw);
  }

  &__hero {
    height: 660px;
  }
}
