@use '../../abstracts/breakpoints' as b;

.l-grid {
  --columns: 12;
  --gutters: 2rem;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--gutters);

  &__fill {
    grid-column: 1 / -1;
  }

  &__half {
    grid-column: span calc(var(--columns) / 2);
  }

  &__padding_rl {
    padding-right: 6rem;
    padding-left: 6rem;
  }

  &__padding_tb {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}
