@use '../../abstracts/breakpoints' as b;

.l-grid {
  --columns: 12;
  --gutters: 2rem;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--gutters);

  padding-right: 6rem;
  padding-left: 6rem;

  &__fill {
    grid-column: 1 / -1;
  }

  &__half {
    grid-column: span calc(var(--columns) / 2);
  }
}
