@use '../../abstracts/colors' as c;

.section2 {
  display: flex;
  column-gap: 3rem;

  background-color: white;

  &--bg_secondary {
    background-color: c.$secondary;
  }

  &--bg_tertiary {
    background-color: c.$tertiary;
  }

  &__content {
    flex-basis: 50%;
  }

  &__image-wrapper {
    align-self: center;

    flex-basis: 50%;
  }

  &__image {
    width: 100%;
  }

  @media (max-width: 500px) {
    flex-direction: column;
  }
}
