@use '../../abstracts/colors' as c;

.c-button {
  border: none;
  border-radius: 999px;
  cursor: pointer;

  background-color: c.$primary--500;

  &--uppercase {
    text-transform: uppercase;
  }

  &__link {
    display: inline-block;

    padding-top: 0.5em;
    padding-right: 2em;
    padding-bottom: 0.5em;
    padding-left: 2em;

    text-decoration: none;
  }
}
