@use '../../abstracts/queries';

.c-nav {
  display: flex;
  justify-content: space-between;

  &__list {
    display: flex;
    align-items: center;
    column-gap: 1rem;

    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
  }

  &__link {
    color: white;
    font-weight: 700;
    text-decoration: none;
  }

  @include queries.tablet-portrait-down {
    display: none;
    flex-direction: column;
    row-gap: 1rem;

    &--visible {
      display: flex;
    }

    &__list {
      flex-direction: column;
      row-gap: 1rem;
    }
  }
}
