$scale: 1.125;

$fs--450: 0.889rem;
$fs--500: 1.125rem;
$fs--550: 1.424rem;
$fs--600: 1.602rem;
$fs--650: 1.802rem;
$fs--700: 2.027rem;
$fs--750: 2.281rem;
$fs--800: 2.566rem;
$fs--850: 3.247rem;
$fs--900: 5.852rem;

$fs-label--400: $fs--450;
$fs-label--500: $fs--500;
$fs-label--600: $fs--550;

$fs-body--400: $fs--450;
$fs-body--500: $fs--500;
$fs-body--600: $fs--550;

$fs-heading--400: $fs--600;
$fs-heading--500: $fs--650;
$fs-heading--600: $fs--700;
$fs-heading--700: $fs--750;
$fs-heading--800: $fs--800;
$fs-heading--900: $fs--850;

$fs-display--500: $fs--900;

$lh--400: 1.2;
$lh--500: 1.3;
$lh--600: 1.4;
$lh--700: 1.5;

$lh-label--500: $lh--600;

$lh-body--500: $lh--700;

$lh-heading--500: $lh--500;

$lh-display--500: $lh--400;
