.c-intro {
  display: flex;
  justify-content: space-between;

  background-color: #23424a;

  &--bg_white {
    background-color: white;
  }

  &__left {
    width: 60%;
  }

  &__title {
    margin-top: 0;

    font-weight: 900;
    font-size: 3rem;
    color: white;

    overflow-wrap: anywhere;

    &--font_blue-shark {
      color: #136c72;
    }
  }

  &__text {
    font-size: 1.3rem;

    &--font_white {
      color: white;
    }
  }

  &__button {
    margin-top: 1em;
  }

  &__right {
    width: 34%;

    &--bg_blue-shark {
      background-color: #136c72;
    }

    &--padding {
      padding: 1rem 3%;
    }
  }

  @media (max-width: 786px) {
    flex-direction: column;
    row-gap: 3rem;

    &__left,
    &__right {
      width: auto;
    }
  }
}
