@use '../../../abstracts/colors' as c;
@use '../../../abstracts/typography' as t;

.c-heading {
  font-size: t.$fs-heading--500;
  font-family: 'Oswald';
  line-height: t.$lh-heading--500;

  &--clr_primary_500 {
    color: c.$primary--500;
  }

  &--fs_400 {
    font-size: t.$fs-heading--400;
  }

  &--fs_600 {
    font-size: t.$fs-heading--600;
  }

  &--fs_700 {
    font-size: t.$fs-heading--700;
  }

  &--fs_800 {
    font-size: t.$fs-heading--800;
  }

  &--fs_900 {
    font-size: t.$fs-heading--900;
  }
}
